.videoPage{
    width: 100%;
    height: auto;
    background-color: #181818;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #181818;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #323232;
  }


.videoPage__container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}